<!DOCTYPE html>
<html layout:decorate= "~{fragments/main-layout}" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Add list item</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/form.css}"/>
    <link rel="stylesheet" th:href="@{/css/bldetails.css}"/>
    <script th:src="@{/webjars/jquery/3.3.7-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/utility.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="offset-3 col-6 text-center">

        <h1 class="bl-profile-h1">Add new item</h1>

        <form th:action="@{/addListItem}" th:object="${item}" method="POST" enctype="multipart/form-data">
            <input type="hidden" th:value="${theListId}" th:name="theListId">
            <input th:if="${edit}" type="hidden" name="itemId" th:field="*{id}" th:value="${item.getId()}">

            <div class="form-group row">
                <div class="col-6 offset-3">

                    <div class="row" >
                        <div class="col-12 bl-img-form-wrap">
                            <img class="bl-list-image" id="imageframe" th:if="${edit}" th:src="@{'/getImage/' + ${username} + '/' + ${item.getImage()}}" alt="image">

                            <!-- todo add default item image -->
                            <img class="bl-list-image" th:unless="${edit}"  id="imageframe" alt="image">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <input th:type="file" th:name="listImage" onchange="loadFile(event)">
                            <input th:if="${edit}" type="hidden" th:name="photoPath" th:value="${item.getImage()}" onchange="loadFile(event)">
                            <p class="error" th:each="error : ${#fields.errors('image')}" th:text="${error}"></p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label>Name</label>
                </div>
                <div class="col-8">
                    <input type="text" th:field="*{name}" name="name"/>
                    <p class="error" th:each="error : ${#fields.errors('name')}" th:text="${error}"></p>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label>Description</label>
                </div>
                <div class="col-8">
                    <input type="text" th:field="*{description}" name="description"/>
                    <p class="error" th:each="error : ${#fields.errors('description')}" th:text="${error}"></p>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label>Price</label>
                </div>
                <div class="col-8">
                    <input type="text" th:field="*{price}" name="price"/>
                    <p class="error" th:each="error : ${#fields.errors('price')}" th:text="${error}"></p>
                </div>
            </div>
           <!-- <div>
                <label>Image </label>
                <input type="file" th:name="image"/>
            </div>-->
            <button type="submit" class="bucketlist-button">Add item</button>
        </form>
        <div th:if="${edit}" class="row">
            <div class="col-12 align-content-center text-center">
                <form th:action="@{'/deleteItem/' + ${list.getId()} + '/' + ${item.getId()}}" method="POST">
                    <button
                            type="submit"
                            onclick="return confirm('Do you really want to delete this item ?');"
                            class="bucketlist-button"
                            th:value="Delete"
                            th:name="Delete"> Delete </button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>