<!DOCTYPE html>
<html layout:decorate= "~{fragments/main-layout}" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Bucketlist details</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/bldetails.css}"/>
    <link rel="stylesheet" th:href="@{/css/form.css}"/>
    <script th:src="@{/webjars/jquery/3.3.7-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/utility.js}"></script>
</head>
<body>
<div layout:fragment="content">

    <div class="col-8 offset-2 align-content-center text-center">
        <div class="row align-content-center text-center">
            <div class="col-6 offset-3 align-content-center text-center">
                <h1 class="bl-details-h">Bucketlist <span th:text="${list.getName()}"></span>'s items</h1>
            </div>
            <div th:if="${ownedByAuth}" class="col-2 offset-1">
                <a class="bucketlist-button bl-line-height" th:href="@{'/user/bucketlist/manage/'+${list.getId()}+'/edit'}">Edit</a>
            </div>
        </div>

    </div>

    <div class="col-12">

        <div class="row bl-info">
            <div class="col-2 offset-1 align-content-center text-center">
                <img class="bl-image" th:src="@{'/getBucketlistImage/' + ${username} + '/' + ${list.getPhotoPath()}}" alt="image">
            </div>
            <div class="col-7">
                <div class="col-12">
                    <h3 class="bl-name-h">Description</h3>
                </div>
                <div class="col-12">
                    <p th:text="${list.getDescription()}"></p>
                </div>
            </div>
        </div>

        <!--<p th:text="${list.getCreationDate()}"></p>
        <p th:text="${list.getOpen()}"></p>
        <h3>User</h3>
        <p th:text="${username}"></p>-->

        <div class="row">

            <div class="item-list col-10 offset-1">

                <div class="item-list-inner row" >

                    <div class="item-cards-container">


                        <div class="bl-item-card-wrap item bl-item" th:each="item : ${list.getItems()}">
                            <div class="bl-item-card bl-item-card-size">

                                <div class="">
                                    <div class="bl-img-wrap">
                                        <img class="bl-item-image" th:src="@{'/getItemImage/' + ${username} + '/' + ${item.getImage()}}">
                                    </div>
                                </div>
                                <div class="">
                                    <div class="">
                                        <h4 th:text="${item.getName()}"></h4>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="">
                                        <p class="bl-item-desc" th:text="${item.getDescription()}"></p>
                                    </div>
                                </div>
                                <hr class="bl-link-divide">
                                <div class="">
                                    <div class="">
                                        <p>LINK : faduhfgkdjhgkjhgl</p>
                                    </div>
                                </div>
                                <div class="tagCounterWrap">
                                    <div class="marked-icon" data-tagged="false" th:id="itemTagMarkIcon + ${item.getId()}" th:onclick="'javascript:toggleItemTagged(\'' + ${item.getId()} + '\');'">
                                    </div>
                                    <div class="mark-counter" th:id="itemCounter + ${item.getId()}">
                                        0
                                    </div>
                                </div>
                                <div>
                                    <div class="date-wrap">
                                        <p th:text="${#dates.format(item.getAddedDate(), 'dd-MM-yyyy HH:mm')}"></p>
                                    </div>
                                    <div th:if="${ownedByAuth}" class="edit-btn-wrap">
                                        <a class="bl-btn-inverse" th:href="@{'/editListItem/' + ${list.getId()}  + '/' + ${item.getId()}}">edit</a>
                                    </div>
                                </div>

                            </div>
                        </div>



                        <div class="bl-item-card-wrap align-content-center text-center item bl-item" th:if="${ownedByAuth}">
                            <div class="bl-add-new">
                                <a class="no-link-effect" th:href="@{'/addItemToList/' + ${list.getId()}}">add new item<span class="div-link-span"></span></a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>




        </div>

    </div>




<!--
    <table class="table">
        <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Date added</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${list.getItems()}">
            <td><img th:src="@{'/getItemImage/' + ${username} + '/' + ${item.getImage()}}"> </td>
            <td th:text="${item.getName()}"></td>
            <td th:text="${item.getDescription()}"></td>
            <td th:text="${item.getPrice()}"></td>
            <td th:text="${item.getAddedDate()}"></td>
        </tr>
        </tbody>
    </table>-->

    <div id="shareBtn" class="btn btn-success clearfix">Share</div>

    <script>
        document.getElementById('shareBtn').onclick = function() {
            FB.ui({
                method: 'share',
                display: 'popup',
                href:  'https://github.com/wiki111/BucketList'
            }, function(response){});
        }
    </script>


    <script>
        (function(){
            document.getElementById('gpluslink').setAttribute('data-href', 'https://github.com/wiki111/BucketList');
        })();
    </script>
    <div id="gpluslink" class="g-plus" data-href="" data-action="share"></div>


    <script src="https://apis.google.com/js/platform.js" async defer></script>
</div>
</body>

</html>