<!DOCTYPE html>
<html layout:decorate= "~{fragments/main-layout}" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script th:src="@{/webjars/jquery/3.3.7-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/utility.js}"></script>
</head>
<body>
<div layout:fragment="content">

    <div class="col-8 offset-2 align-content-center text-center">
        <h1>Bucketlist <span th:text="${list.getName()}"></span>'s items</h1>
    </div>

    <div class="col-12">
        <div class="row">
            <div class="col-3 offset-1 align-content-center text-center">
                <img th:src="@{'/getBucketlistImage/' + ${username} + '/' + ${list.getPhotoPath()}}" alt="image">
            </div>
            <div class="col-7">
                <div class="col-12">
                    <h3>Description</h3>
                </div>
                <div class="col-12">
                    <p th:text="${list.getDescription()}"></p>
                </div>
            </div>
        </div>

        <!--<p th:text="${list.getCreationDate()}"></p>
        <p th:text="${list.getOpen()}"></p>
        <h3>User</h3>
        <p th:text="${username}"></p>-->

        <div class="row">

            <div class="col-3" th:each="item : ${list.getItems()}">
                <div class="row">
                    <img th:src="@{'/getItemImage/' + ${username} + '/' + ${item.getImage()}}">
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4 th:text="${item.getName()}"></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p th:text="${item.getDescription()}"></p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p>LINK : faduhfgkdjhgkjhgl</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 offset-4">
                        here will be users count & button
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p th:text="${item.getAddedDate()}"></p>
                    </div>
                </div>
            </div>

            <div class="col-3 align-content-center text-center">
                add new item
            </div>
        </div>

    </div>





    <table class="table">
        <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Date added</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${list.getItems()}">
            <td><img th:src="@{'/getItemImage/' + ${username} + '/' + ${item.getImage()}}"> </td>
            <td th:text="${item.getName()}"></td>
            <td th:text="${item.getDescription()}"></td>
            <td th:text="${item.getPrice()}"></td>
            <td th:text="${item.getAddedDate()}"></td>
        </tr>
        </tbody>
    </table>

    <div id="shareBtn" class="btn btn-success clearfix">Share</div>

    <script>
        document.getElementById('shareBtn').onclick = function() {
            FB.ui({
                method: 'share',
                display: 'popup',
                href:  'https://github.com/wiki111/BucketList'
            }, function(response){});
        }
    </script>


    <script>
        (function(){
            document.getElementById('gpluslink').setAttribute('data-href', 'https://github.com/wiki111/BucketList');
        })();
    </script>
    <div id="gpluslink" class="g-plus" data-href="" data-action="share"></div>


    <script src="https://apis.google.com/js/platform.js" async defer></script>
</div>
</body>

</html>