<!DOCTYPE html>
<html layout:decorate= "~{fragments/main-layout}" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Bucketlists</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/form.css}"/>
    <link rel="stylesheet" th:href="@{/css/table.css}"/>
    <script th:src="@{/webjars/jquery/3.3.7-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/utility.js}"></script>
</head>
<body>

    <div layout:fragment="content">

        <div class="col-12 align-content-center text-center">
            <h1>Public bucketlists</h1>
        </div>

        <div class="col-8 offset-2">

            <div class="col-12 align-content-center text-center">
                <h2>Search</h2>
            </div>

            <form th:action="@{'/search'}" method="POST">

                <div class="form-group row">
                    <div class="col-8 offset-2 align-content-center text-center">
                        <input type="text" size="70" th:name="query">
                    </div>
                    <div class="col-2">
                        <button class="bucketlist-button bucketlist-inline-button" type="submit">SEARCH</button>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-12">

                        <fieldset>

                            <div class="row">
                                <div class="col-4 offset-3">
                                    <div class="radio-container">
                                        <input class="inline-input bucketlist-radio-button" type="radio" name="criterium" th:value="by_tags"
                                        th:checked="${byTags=='true'}?'checked'" th:name="criterium">
                                        <span class="checkmark"></span>
                                        <label class="inline-label">BY TAGS</label>
                                    </div>
                                </div>

                                <div class="col-4  radio-container">
                                    <div class="radio-container">
                                        <input class="inline-input bucketlist-radio-button" type="radio" name="criterium" th:value="by_username"
                                           th:checked="${byUser=='true'}?'checked'" th:name="criterium">
                                        <span class="checkmark"></span>
                                        <label class="inline-label">BY USERNAME</label>
                                    </div>
                                </div>
                            </div>

                        </fieldset>

                    </div>
                </div>

            </form>

        </div>

        <!--<div>
            <a class="btn btn-primary" th:href="@{'/bucketlists'}">Show all</a>
        </div>-->

        <div class="col-8 offset-2">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Creation Date</th>
                    <th>Open</th>
                </tr>
                </thead>
                <tbody>

                <tr class="clickable-row" th:each="list : ${lists}" th:onclick="'javascript:showBucketList(\'' + ${list.getId()} + '\');'">
                    <td th:text="${list.getName()}"></td>
                    <td th:text="${list.getDescription()}"></td>
                    <td th:text="${list.getCreationDate()}"></td>
                    <td th:text="${list.getOpen()}"></td>
                </tr>
                <tr class="clickable-row" onclick="addItem()">
                    <td>Add new bucketlist</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</body>

</html>