<!DOCTYPE html>
<html layout:decorate= "~{fragments/main-layout}" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/bldetails.css}"/>
    <link rel="stylesheet" th:href="@{/css/form.css}"/>
    <script th:src="@{/webjars/jquery/3.3.7-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</head>

<body>
<div layout:fragment="content">


    <div class="col-8 offset-2 align-content-center text-center">
        <div class="row align-content-center text-center">
            <div class="col-6 offset-3 align-content-center text-center">
                <h1 class="bl-profile-h1"><span th:text="${user.getNickname()}"></span>'S PROFILE</h1>
            </div>
            <div class="col-2 offset-1 bl-relative-wrap">
                <a class="bucketlist-button bucketlist-inline-button bl-center" th:href="@{/editprofile}">Edit</a>
            </div>
        </div>


    </div>

    <div class="col-12">
        <div class="row bl-info">
            <div class="col-2 offset-1 align-content-center text-center">
                <img class="bl-image" th:src="@{'/getAvatar/' + ${user.getEmail()}}" alt="image">
            </div>
            <div class="col-3">
                <div class="col-12">
                    <h3 class="bl-name-h">Bio</h3>
                </div>
                <div class="col-12">
                    <p th:text="${user.getBio()}"></p>
                </div>
            </div>
            <div class="col-2">
                <div class="row">
                    <div class="col-12">
                        <h3 class="bl-name-h">Interests</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <span th:text="${user.getInterests()}"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-10 offset-1">
                <div class="row bl-row-spacer">
                    <div class="col-4 text-center">
                        <a class="bucketlist-button" th:href="@{/showsharedlists}">show shared lists</a>
                    </div>

                    <div class="col-4 text-center">
                        <a class="bucketlist-button" th:href="@{/user/bucketlists}">show bucketlists</a>
                    </div>

                    <div class="col-4 text-center">
                        <a class="bucketlist-button" th:href="@{/user/received}">messages</a>
                    </div>
                </div>
            </div>

        </div>

        <!--<p th:text="${list.getCreationDate()}"></p>
        <p th:text="${list.getOpen()}"></p>
        <h3>User</h3>
        <p th:text="${username}"></p>-->

        <div class="col-12 align-content-center text-center">
            <h2>FEATURED BUCKETLISTS</h2>
            <hr>
        </div>

        <div class="row">

            <div class="item-list col-10 offset-1">

                <div class="item-list-inner row item-cards-container">

                    <div class="bl-item-card-wrap item bl-item" th:each="list : ${user.getBucketlists()}">

                        <div class="bl-item-card bl-list-card-size">

                            <a th:href="@{'/bucketlist/details/' + ${list.getId()}}"><span class="div-link-span"></span></a>

                            <div class="row">
                                <div class="col-12 bl-img-wrap">
                                        <img class="bl-list-image" th:src="@{'/getImage/' + ${username} + '/' + ${list.getPhotoPath()}}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <h4 th:text="${list.getName()}"></h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <p class="bl-item-desc" th:text="${list.getDescription()}"></p>
                                </div>
                            </div>
                            <hr class="bl-link-divide">
                            <div class="row">
                                <div class="col-12">
                                    <p th:text="${#dates.format(list.getCreationDate(), 'dd-MM-yyyy HH:mm')}"></p>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>



        </div>

    </div>

    <!--<div>
        <h1> Profile info </h1>

        <div>
            <img th:src="@{'/getAvatar/' + ${user.getEmail()}}" alt="avatar">
        </div>

        <div>

            <p>First name <span th:text="${user.getFirstName()}"></span> </p>
            <p>Last name <span th:text="${user.getLastName()}"></span> </p>
            <p>Nickname <span th:text="${user.getNickname()}"></span> </p>
            <p>Bio <span th:text="${user.getBio()}"></span> </p>
            <p>Interests <span th:text="${user.getInterests()}"></span> </p>
            <p>Facebook <span th:text="${user.getFacebookLink()}"></span> </p>
            <p>Google <span th:text="${user.getGoogleLink()}"></span> </p>
            <p>Twitter <span th:text="${user.getTwitterLink()}"></span> </p>

            <a class="btn btn-primary" th:href="@{/editprofile}">Edit profile</a>
        </div>

        <div>

            <h2>Shared bucketlistslists</h2>
            <a class="btn btn-primary" th:href="@{/showsharedlists}">Show shared lists</a>

        </div>

        <div>
            <h2>My bucketlists</h2>
            <a class="btn btn-primary" th:href="@{/user/bucketlists}">Show shared lists</a>
        </div>

    </div>-->

</div>



</body>

</html>