<!DOCTYPE html>
<html layout:decorate= "~{fragments/main-layout}" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script th:src="@{/webjars/jquery/3.3.7-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</head>

    <body>
    <div layout:fragment="content">
        <div>
            <h1> Profile info </h1>
        </div>

        <form th:action="@{/updateUserInfo}" th:object="${user}" method="POST" enctype="utf8">
            <input type="hidden" th:field="*{email}">
            <div>
                <label>First name</label>
                <input th:field="*{firstName}" th:default="${user.getFirstName()}"/>
            </div>
            <div>
                <label>Last name</label>
                <input th:field="*{lastName}" th:default="${user.getLastName()}"/>
            </div>
            <div>
                <label>Nickname</label>
                <input th:field="*{nickname}" th:default="${user.getNickname()}"/>
            </div>
            <div>
                <label>Phone</label>
                <input th:field="*{phone}" th:default="${user.getPhone()}"/>
            </div>
            <div>
                <label>Address</label>
                <input th:field="*{address}" th:default="${user.getAddress()}"/>
            </div>
            <div>
                <label>Bio</label>
                <input th:field="*{bio}" th:default="${user.getBio()}"/>
            </div>
            <div>
                <label>Interests</label>
                <input th:field="*{interests}" th:default="${user.getInterests()}"/>
            </div>
            <div>
                <label>Facebook</label>
                <input th:field="*{facebookLink}" th:default="${user.getFacebookLink()}"/>
            </div>
            <div>
                <label>Google</label>
                <input th:field="*{googleLink}" th:default="${user.getGoogleLink()}"/>
            </div>
            <div>
                <label>Twitter</label>
                <input th:field="*{twitterLink}" th:default="${user.getTwitterLink()}"/>
            </div>
            <button type="submit" class="btn btn-primary">Update Info</button>
        </form>

    </div>



    </body>

</html>