<!DOCTYPE html>
<html layout:decorate= "~{fragments/main-layout}" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script th:src="@{/webjars/jquery/3.3.7-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</head>

<body>
<div layout:fragment="content">
    <div>
        <h1> Profile info </h1>

        <div>

            <p>First name <span th:text="${user.getFirstName()}"></span> </p>
            <p>Last name <span th:text="${user.getLastName()}"></span> </p>
            <p>Nickname <span th:text="${user.getNickname()}"></span> </p>
            <p>Phone <span th:text="${user.getPhone()}"></span> </p>
            <p>Address <span th:text="${user.getAddress()}"></span> </p>
            <p>Bio <span th:text="${user.getBio()}"></span> </p>
            <p>Interests <span th:text="${user.getInterests()}"></span> </p>
            <p>Facebook <span th:text="${user.getFacebookLink()}"></span> </p>
            <p>Google <span th:text="${user.getGoogleLink()}"></span> </p>
            <p>Twitter <span th:text="${user.getTwitterLink()}"></span> </p>

            <a class="btn btn-primary" th:href="@{/editprofile}">Edit profile</a>
        </div>

        <div>

            <h2>Shared lists</h2>
            <a class="btn btn-primary" th:href="@{/showsharedlists}">Show shared lists</a>

        </div>

    </div>

</div>



</body>

</html>