<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script th:src="@{/webjars/jquery/3.3.7-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container-fluid ">
    <div class="row bar-top">
        <div class="col-md-3">
            <a class="nav-link nav-link-color" th:href="@{/homepage}">Bucketlist</a>
        </div>
        <div class="col-md-2 offset-md-5">
            <a class="nav-link nav-link-color" sec:authorize="isAnonymous()" th:href="@{/login}">Login</a>
            <a class="nav-link nav-link-color" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
        </div>
        <div class="col-md-2">
            <a class="nav-link nav-link-color" sec:authorize="isAnonymous()" th:href="@{/register}">Register</a>
            <a class="nav-link nav-link-color" sec:authorize="isAuthenticated()" th:href="@{/profile}">Profile</a>
        </div>
    </div>
    <div class="row">
        <div class="col no-side-padding">
            <img class="img-fluid banner-image" th:src="@{/img/background.jpg}"/>
        </div>
    </div>
    <div class="row">
        <div layout:fragment="content">
            Some content
        </div>
    </div>
</div>
</body>
</html>