<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/table.css}"/>
    <script th:src="@{/webjars/jquery/3.3.7-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/utility.js}"></script>
</head>

    <div th:fragment="bucketlists-table">

        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Creation Date</th>
                <th>Open</th>
            </tr>
            </thead>
            <tbody>

            <tr class="clickable-row"
                th:each="list : ${user.getBucketlists()}"
                th:object="${list}"
                th:if="${list.getIsPrivate()} == 'false'"
                th:onclick="'javascript:showBucketListWithoutEditingOptions(\'' + ${list.getId()} + '\');'">
                <td th:text="${list.getName()}"></td>
                <td th:text="${list.getDescription()}"></td>
                <td th:text="${list.getCreationDate()}"></td>
                <td th:text="${list.getOpen()}"></td>
            </tr>
            </tbody>
        </table>

    </div>

</html>

