.banner-image{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.no-side-padding{
    padding-left: 0;
    padding-right: 0;
}

.nav-link-color{
    color: #EDEDED;
}

a.nav-link-color:hover{
    color: #FFE000;
}

.bar-top{
    background-color: #47B58F;
    color: #EDEDED;
}