<!DOCTYPE html>
<html layout:decorate= "~{fragments/main-layout}" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Not Authorized Error</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script th:src="@{/webjars/jquery/3.3.7-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="row" layout:fragment="content">

    <div class="col-12">

        <div class="row">
            <div class="col-8 offset-2">
                <h1>Error</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-8 offset-2">
                <p th:text="${exception}">
                    Something went wrong. Try again ?
                </p>
            </div>
        </div>
    </div>
</div>
</body>

</html>