<!DOCTYPE html>
<html layout:decorate= "~{fragments/main-layout}" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script th:src="@{/webjars/jquery/3.3.7-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</head>
    <body>
        <div layout:fragment="content">
            <div class="col-12">
                <div class="row">
                    <div class="col-8 offset-2 align-content-center text-center">
                        <h1>BUCKETLIST</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4 div-link-panel align-content-center text-center">
                        EXPLORE
                        <a th:href="@{/bucketlists}"><span class="div-link-span"></span></a>
                    </div>
                    <div class="col-4 div-link-panel align-content-center text-center">
                        SIGN UP
                        <a class="" sec:authorize="isAnonymous()" th:href="@{/register}"><span class="div-link-span"></span></a>
                        <a class="" sec:authorize="isAuthenticated()" th:href="@{/profile}"><span class="div-link-span"></span></a>
                    </div>
                    <div class="col-4 div-link-panel align-content-center text-center">
                        ABOUT
                        <a th:href="@{/about}"><span class="div-link-span"></span></a>
                    </div>
                </div>

                <div class="row big-divide-line">

                </div>


                <div class="col-8 offset-2 align-content-center text-center">
                    <p>
                        Bucketlist jest narzędziem pierwszym w swoim rodzaju i ostatnim jakiego będziesz potrzebował. Nieważne
                        co zbierasz - pomysły na prezenty ślubne, miejsca do odwiedzenia, rzeczy które do włączenia do kolekcji,
                        sugestie prezentów czy cokolwiek innego. Wszystko możesz wrzucić do kubełka - i pokazać innym, co w nim
                        trzymasz ;)
                    </p>
                </div>


                <!--
                    <div>
                        <a class="btn btn-primary" th:href="@{/bucketlists}">See bucketlists</a>
                    </div>
                    <div>
                        <form method="get" th:action="@{/find-user}">
                            <label>Nickname : </label>
                            <input type="text" th:name="nickname">
                            <button type="submit">Search !</button>
                        </form>
                    </div>-->

            </div>
        </div>
    </body>
</html>